/* header */

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7395AE;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.header-logo{
  font-size: 45px;
  padding-left: 100px;
}

.rightLinks {
  font-size: 20px;
  padding-right: 40px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 13px;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  /* section one */
  .sectionOne {
    background-color:  #7395AE;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    justify-content: space-around;
    padding: 100px;
  }

  div.BigWords {
    font-size: 48px;
    font-weight: bold;
    padding-left: -220px;
  }

  div.BigWordsTwo {
    font-size: 48px;
    font-weight: bold;
    padding-left: -200px;
  }

  div.SmallWords {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 8px;
  }

  button {
    background-color: #B1A296;
    color: white;
    padding: 0.6em 2em;
    border-radius: 8px;
    font-size: 1.1em;
    margin: 1em;
    border: none;
  }

img {
  width: 500px;
  height: auto;
  border-radius: 25px;
  }

  .sectionOne,
  .imageOne {
    display: flex;
  }

  /* section two */
  .sectionTwo {
    background-color: #f0f1f181;
    color: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
   
   
  }

  .random-information {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
   text-align: center;
  }


  .food {

 
   border-radius: 25px;
 
   height: 250px;
   width: 250px;
   
  }

  .text {
    text-align: center;
    inline-size: 200px;
    overflow-wrap: break-word;
    padding-top: 30px;
    margin-left: 31px;
    font-size: 20px;
  }

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
  }